.category-about {
    margin-bottom: rem(160);

    @media (max-width:$tablet) {
        margin-bottom: rem(80);
    }
}

.category-about__title {}

.category-about__text {
    font-family: 'Work Sans';
    font-weight: 500;
    line-height: rem(26);
    color: #929292;
    margin-top: rem(50);

    @media (max-width:$tablet) {
        margin-top: rem(25);
        font-size: rem(14);
        line-height: rem(23);
    }
}

.category-about__subtitle {
    font-weight: 700;
    font-size: rem(25);
    margin-top: rem(80);

    @media (max-width:$tablet) {
        font-size: rem(20);
        margin-top: rem(40);
    }
}