.main__breadcrumbs {
    margin-top: rem(110);
}

.main-breadcrumbs__item {}

.main {
    margin-top: rem(22);
    position: relative;
}

.main__background {}

.main__title {
    position: absolute;
    bottom: rem(100);
    width: 95%;
    text-align: center;
}

.text-yellow {}