.contact {
    background: url('@img/contact.jpg');
    display: flex;
    align-items: center;
    flex-direction: column;
    @include adaptiveValue("padding", 85, 30);
}

.contact__subtitle {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: rem(18);
    line-height: 160%;
    color: #272727;

    @media (max-width:$tablet) {
        font-size: rem(12);
    }
}

.contact__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 120, 50);
    color: #272727;
    margin-top: rem(15);
    margin-bottom: rem(50);

    @media (max-width:$laptop) {
        margin-bottom: rem(25);
    }
}

.contact__form {
    display: flex;
    position: relative;
}

.contact-form__input {
    font-size: rem(25);
    padding: 10px;
    color: #272727;
    font-weight: 500;

    &::placeholder {
        font-size: rem(18);
    }

    @media (max-width:$tablet) {
        max-width: 220px;
    }
}

.contact-form__btn {
    background: #272727;
    padding: 0 65px;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: rem(14);
    transition: 0.3s;

    @media (any-hover: hover) {
        &:hover {
            background: #fff;
            color: #272727;
            transition: 0.3s;
        }
    }

    @media (max-width:$tablet) {
        padding: 0 35px;
    }
}

// .form__error {
//     position: absolute;
//     background: #fff;
//     color: red;
//     left: 0;
//     bottom: -46px;
//     padding: 10px;
//     border-radius: 6px;
//     font-size: rem(20);

//     &:before {
//         transform: rotate(180deg);
//         width: rem(15);
//         height: rem(15);
//         position: absolute;
//         content: '';
//         background: url('@img/smallArrow.svg') 0 0/100%;
//         display: block;
//         top: -4px;
//         left: 8px;
//     }
// }